<h1 class="mt-3">Selectores anidados</h1>
<hr>
<form [formGroup]="myForm" >

  <!-- Regiones -->
  <div class="row mb-3">
    <label class="form-label"> Continente: </label>
    <select formControlName="region" class="form-control">
      <option value="">-- Seleccione Continente --</option>
      <option *ngFor="let region of regions" [value]="region">{{region}}</option>
    </select>
  </div>

  <!-- Paises -->
  <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
    <label class="form-label"> Pais: </label>
    <select formControlName="country" class="form-control">
      <option value="">-- Seleccione Pais --</option>
       <option *ngFor="let country of countriesByRegion" [value]="country.cca3">{{country.name}}</option>
    </select>
  </div>

  <!-- Fronteras -->
  <div class="row mb-3" *ngIf="borders.length > 0">
    <label class="form-label"> Fronteras: </label>
    <select formControlName="border" class="form-control">
      <option value="">-- Seleccione Frontera --</option>
       <option *ngFor="let country of borders" [value]="country.cca3">{{country.name}}</option>
    </select>
  </div>
</form>

<h3>Formulario</h3>
<code>
  {{myForm.value | json }}
</code>
<p>
  is form valid: {{ myForm.valid }}
</p>
